/*
Style priority tag<class<id
*/
*{
    text-align: center;
}
.heading{
    color: rgb(255, 2, 2);
    background-color: rgb(0, 0, 0);
    text-decoration:underline;
}

#bottom-heading{
    color: aquamarine;
    font-style: italic;
}

p{
    background-color: yellow;
}

#second-para{
    font-family: Arial, Helvetica, sans-serif;
    background-color: aqua;
}

.para{
    text-align: left; 
    background-color: rgb(221, 184, 212);  
}

.group-div{
    text-align: end;
    color:rgb(255, 255, 255);
    background-color: rgb(98, 0, 255);
}

#first-div{
    text-align:right;
    background-color: rgb(40, 233, 14);
}

.group-span{
    text-align:justify;
    color: yellow;
    background-color: red;
}

#first-span{
    background-color: rgb(0, 0, 0);  
}

.forms{
    padding: 2px;
    
}